.text-alert {
	color: $whiteColor;
}
.bg-alert-warning {
	background-color: $yellow400Color;
}
.bg-alert-error {
	background-color: $red400Color;
}
.bg-alert-success {
	background-color: $green400Color;
}
.bg-alert-info {
	background-color: $blue400Color;
}
.bg-alert {
	background-color: $gray400Color;
}
